# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Thư mục build & runtime
bin/
obj/
*.exe
*.dll
*.pdb
*.log
*.pid
*.tar.gz
*.zip
*.vs/
.vscode/
.DS_Store

# Thư viện cài qua NuGet
packages/
project.lock.json
project.assets.json

# appsettings.Development.json
# appsettings.json
secrets.json

.env