.nav-link:hover,
.dropdown span:hover {
    color: #0d6efd !important;
    font-weight: bold;
}

#basic-nav-dropdown.dropdown-toggle.nav-link::after {
    content: none !important;
    display: none !important;
}

@media (max-width: 768px) {
    .drop-item {
      padding-left: 16px;
    }
}